.item-list-container {
    padding: 60px 20px; 
    text-align: center;
    background-color: var(--bg-color);
}

.greeting-text {
    font-size: 2rem;
    font-weight: 300;
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 2px;
}