.navbar {
    height: 80px;
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    align-items: center;
    padding: 0 5%;
    background-color: #ffffff !important; 
    border-bottom: 1px solid #eeeeee;
    position: sticky;
    top: 0;
    z-index: 10000; 
}

.navbar-logo {
    text-decoration: none !important; 
    color: #000000 !important;
    justify-self: start; 
}

.navbar-logo h1 {
    font-size: 1.8rem;
    letter-spacing: 4px;
    text-transform: uppercase; 
    font-weight: 800;
    margin: 0;
    border: none;
    text-decoration: none !important;
}


.navbar-links {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
    justify-self: center; 
}

.cart-container {
    justify-self: end; 
}

.navbar-links a {
    text-decoration: none !important;
    color: #000000;
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase; 
    transition: 0.3s;
}

.navbar-links a:hover {
    color: #666666;
}

.navbar-links .active {
    font-weight: 700;
    border-bottom: 2px solid #000000;
}